.paragraph {
  border: 10px solid red;
  background-color: black;
  border-radius: 10px;
  color: white;
}

.header {
  color: white;
  background-color: red;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
